{:paths ["src"]
 :aliases {:test {:extra-deps {djblue/portal                 {:mvn/version "0.59.2"}
                               clj-commons/clj-yaml          {:mvn/version "1.0.29"} ; portal yaml support (optional)
                               io.github.tonsky/clj-reload   {:mvn/version "0.9.8"}
                               nrepl/nrepl                   {:mvn/version "1.4.0"}
                               cider/cider-nrepl             {:mvn/version "0.57.0"}
                               refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}
                               criterium/criterium           {:mvn/version "0.4.6"}
                               com.github.gnl/playback       {:mvn/version "0.5.4"}
                               jedi-time/jedi-time           {:mvn/version "0.2.1"}
                               lambdaisland/ansi             {:mvn/version "0.2.37"}
                               com.datomic/dev.datafy        {:git/sha "02f8520"
                                                              :git/tag "v0.1"
                                                              :git/url "https://github.com/Datomic/dev.datafy.git"}}
                  :main-opts  ["-m" "ol.dev.repl"]}}}
